extends layout

block content
  
  div(class='navbar navbar-inverse navbar-fixed-top')
    div(class='navbar-inner')
      div(class="container")
        botton(type='button', class='btn btn-navbar', data-toggle='container', data-target='.nav-collapse')
          span(class='icon-bar')
          span(class='icon-bar')
          span(class='icon-bar')
        a(class='brand', href='#') Project Name   
        div(class='nav-collapse collapse') 
           ul(class='nav')
             li(class='active')
               a(href='#') Home
             li
               a(href='#about') blog
             li 
               a(href='Contact') Contact
           form(class="navbar-form pull-right") 
             input(class="span2", type="text", placeholder="Email")
             input(class="span2", type="password", placeholder="Password")
             button(type="submit", class="btn") Sign in 
   div(class="container")
     div(class="hero-unit") 
      h1= title
      p Welcome to #{title}                     
