extends layout

block content
  h1= title
  p Welcome to #{title}
  div(class='navbar navbar-inverse navbar-fixed-top')
    div(class='navbar-inner')
      div(class="container")
        botton(type='button', class='btn btn-navbar', data-toggle='container', data-target='.nav-collapse')
          span(class='icon-bar')
          span(class='icon-bar')
          span(class='icon-bar')
        a(class='brand', href='#') Project name    
        div(class='nav-collapse collapse') 
           ul(class='nav')
             li(class='active')
               a(href='#') Home
             li
               a(href='#about') About
             li 
               a(href='Contact') Contack          
