extends layout

block content
 div(class="container")
  div(class="hero-unit")
   form(class="form-horizontal")
    div(class="control-group")
     label(class="control-label", for="inputEmail") Email
     div(class="controls")
      input(type="text", id="inputEmail", placeholder="Email")
    div(class="control-group")
     label(class="control-label", for="inputEmail") Password
     div(class="controls")
      input(type="password", id="inputPassword", placeholder="Password")
    div(class="control-group")
     div(class="controls")
      button(type="submit" class="btn") Register 